html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.profile-container-layout {
  width: 100vw;
  height: 100vh;
  display: block; 
}

.profile-nav {
  background-color:  rgb(31, 129, 240);
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

body.dark .profile-nav {
  background-color: #302f40;
  color: #e0e0e0; 
  transition: background-color 0.3s ease-in-out;
}

.nav-container {
  color: white;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.profile-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.profile-content {
  padding: 0px 255px 0px 135px;
}

.profile-container {
  margin: 1.5rem;
  align-items: center;
  justify-content: center; 
  overflow-wrap: break-word;
}

body.light .profile-card-grid {
  border-radius: 12px;
  background-color: white;
  border: 3px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 310px;
  flex-wrap: wrap;
  max-height: 50vh;
  max-width: 100%;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow-y: auto;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body.dark .profile-card-grid {
  border-radius: 12px;
  background-color: #222222;
  border: 1px solid hsl(0, 0%, 50%);
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 310px;
  flex-wrap: wrap;
  max-height: 50vh;
  max-width: 100%;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow-y: auto;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

@media (max-width: 900px) {
  body.light .profile-card-grid {
    grid-template-columns: 1fr; 
  }
}


body.dark .profile-card {
  background-color: #222222;
}

body.dark .profile-card-edit {
  background-color: #222222;
}

body.dark .profile-card-label {
  color: white;
}
body.dark .profile-card-value {
  color: white;
}

body.dark .profile-card:hover {
  opacity: 0.7;
}

.profile-card {
  background-color: white;
  min-width: 300px;
  overflow-y: scroll;
  border-radius: 9px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
}

.profile-card-edit {
  background-color: white;
  min-width: 300px;
  overflow-y: scroll;
  border-radius: 9px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
}

.profile-card:hover {
  background-color: #e4e4e4;
  cursor: pointer;
  transform: translateY(-4px);
  transition: transform 0s;
}

.profile-card-label {
  font-weight: bold;
  font-size: 16px;
  color: black
}

.profile-card-value {
  font-weight: bold;
  margin-left: 10px;
  font-size: 16px;
  color: black;
}

.profile-edit-buttton {
  margin: 0.5rem;
  font-size: 14px;
  background-color: yellow;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 12px;
  text-align: center;
  width: fit-content
}

.profile-edit-buttton p{
  padding: 0px 20px 0px 20px;
}

.profile-edit-buttton:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: translateY(-4px);
  transition: transform 0s;
}

.profile-save-buttton {
  font-size: 14px;
  background-color: greenyellow;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 12px;
  text-align: center;
  width: fit-content
}

.profile-save-buttton p{
  padding: 0px 20px 0px 20px;
}

.profile-save-buttton:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: translateY(-4px);
  transition: transform 0s;
}

.close-profile-edit-button {
  min-width: 75px;
  font-size: 14px;
  background-color: gainsboro;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 12px;
  text-align: center;
  width: fit-content
}

.close-profile-edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: translateY(-4px);
  transition: transform 0s;
}

.profile-edit-options {
  margin: 0.4rem;
  gap: 0.5rem;
  height: min-content;
  width: min-content;
  display: flex;
  flex-direction: row;
}

body.dark .profile-edit-buttton {
  background-color: #fbc02d;
  color: black;
}

body.dark .profile-save-buttton {
  background-color: #aeea00;
  color: black;
}

body.dark .close-profile-edit-button{
  color: black;
}

body.dark .profile-card-value-edit {
  font-weight: bold;
  margin-left: 10px;
  font-size: 16px;
  color: white;
  background-color: #666666;
}

.profile-edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.edit-modal {
  background-color: white;
  color: black;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.profile-edit-group {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.profile-edit-error-message {
  padding: 20px;
  text-align: center;
  background-color: #facc15;
  color: black;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
}

.profile-edit-error-message p {
  font-weight: bold;
}