html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.student-dashboard-container-layout {
  min-height: 100vh;
  display: block; /* or flex/grid depending on layout */
}

/* Navigation Bar */
.dashboard-nav {
  background-color:  rgb(31, 129, 240);
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.nav-container {
  color: white;
  width: 100%; 
  margin: 0 auto; 
  display: flex;
}

.nav-title {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Main Content Area with Sidebar */
.dashboard-main-content {
  padding: 0px 0px 0px 0px;
}

/* Sidebar Styles */
.dashboard-sidebar {
  width: 100px; 
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  padding: 1rem;
  overflow-y: scroll;
  position: absolute;
  left: 0px;
  height: 90.25vh;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.dashboard-sidebar.light {
  background-color: #f8f9fa; 
  border-color: #dee2e6;
  transition: background-color 0.3s ease-in-out;
}

.dashboard-sidebar.dark {
  background-color: #495057;
  border-color: #6c757d;
  transition: background-color 0.3s ease-in-out;
}

body.light {
  background-color: #e0f2f7;/* Light gray background */
  color: #2e3035;
  transition: background-color 0.3s ease-in-out;
}

body.dark .dashboard-nav {
  background-color: #302f40;
  color: #e0e0e0; 
  transition: background-color 0.3s ease-in-out;
}

body.light header h1 {
  color: #007bff; /* Blue header text */
}

body.light main {
  background-color: #ffffff; /* White main background */
  border: 1px solid #ced4da; /* Light gray border */
}

body.dark {
  background-color: #303841; /* Dark gray background */
  color: #f8f9fa;  /* Light text */
  transition: background-color 0.3s ease-in-out;
}

body.dark header h1 {
  color: #61dafb; /* Cyan header text */
}

body.dark main {
  background-color: #343a40; /* Darker gray main background */
  border: 1px solid #6c757d; /* Gray border */
}

body.dark .sidebar-header-right {
  color: #f8f9fa;
  transition: background-color 0.3s ease-in-out;
}

.sidebar-header-logo{
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.dashboard-sidebar-right {
  width: 200px;
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
  padding: 1rem;
  overflow-y: auto;
  position: absolute;
  right: 0px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body.dark .dashboard-sidebar-right {
  height: 90.25vh;
  background-color: #495057;
  border-color: #6c757d;
  transition: background-color 0.3s ease-in-out;
}

body.light .dashboard-sidebar-right {
  height: 90.25vh;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease-in-out;
}


.sidebar-header-right-logo{
  width: 100px;
  height: 100px;
}

.sidebar-header-right {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0.5rem;
  height: auto; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding-bottom: 10px;
}

body.dark .to-do-list-bullets {
  background-color: #e0f2f7;
}

body.dark .to-do-item a{
  color: #e0f2f7;
}

body.dark .dashboard-courses-card {
  flex: 1 1 calc(33.33% - 2rem);
  max-width: 250px; 
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: #666666;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 1rem;
  border: 3px solid white;
  transition: background-color 0.3s ease-in-out;
}

body.dark .dashboard-courses-card:hover {
  opacity: 0.5;
  transform: translateY(-4px);
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: transform 0s;
}

body.light .dashboard-courses-card {
  flex: 1 1 calc(33.33% - 2rem);
  max-width: 250px; 
  height: auto;
  aspect-ratio: 1 / 1;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
  background-color: white;
  border: 3px solid #e0e0e0;
  transition: background-color 0.3s ease-in-out;
}

body.light .dashboard-courses-card:hover {
  opacity: 0.5;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-color: #e4e4e4;
  transform: translateY(-4px);
  transition: transform 0s;
}

body.light .dashboard-courses-card-label {
  color: black;
}

.sidebar-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
  height: 50px;
}

.users-brief-details {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
}

.sidebar-title {
  font-size: 0.75rem;
  font-weight: 500;
  color: #343a40;
  text-align: center;
}

.sidebar-title.light {
  color: #2e3035;
}

.sidebar-title.dark {
  color: #f8f9fa;
}

.sidebar-list {
  padding: 0;
  list-style: none;
  align-items: center;
}

.sidebar-list-settings-and-logout {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
}

.sidebar-list-icon{
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.sidebar-list-icon.dark{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.sidebar-theme-icon.dark{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

body.dark .sidebar-list-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

body.dark .sidebar-right-icon{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

body.dark .sidebar-right-classroom-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

button.sidebar-link.light {
  color: #2e3035; 
}

body.dark .sidebar-link{
  color: #f8f9fa;
}

button.sidebar-right-item {
  text-align: center;
}

button.sidebar-link.dark {
  color: #f8f9fa;
}

.sidebar-theme-icon{
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.sidebar-right-icon {
  width: 40px;
  height: 40px;
}

.sidebar-right-classroom-icon {
  width: 20px;
  height: 20px;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
}

.sidebar-right-item {
  padding: 0.15rem 0;
  justify-content: start;
  align-items: start;
}

.sidebar-right-item-container {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 0.5rem;
}

.sidebar-right-item-container span{
  margin-right: 10px;
}

.sidebar-right-item-container span {
  text-align: center;
  padding-right: 60px;
}

.sidebar-item {
  padding: 0.15rem 0;
  justify-content: center;
  align-items: center;
}

.sidebar-link {
  background: none;
  border: none;
  color: #343a40;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center;
  justify-content: center;
  gap: 0.4rem; 

}

.to-do-list-container {
  scrollbar-width: 20px;
  scrollbar-color: black;
  padding-bottom: 10px;
  width: 200px;
  height: 240px;
  border: solid 0.1rem;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  border: 1px solid #e0e0e0;
  overflow: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.to-do-container {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.to-do-list-bullets {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 10px;
  margin-right: 0.5rem;
  background-color: #3b444b;
  width: 7.5px;
  height: 7.5px;
  display: inline-block;
  fill: black;
  flex: none;
  border: none;
  border-radius: 50%;
}

.to-do-item {
  max-height: 60px;
  padding-right: 0.5rem;
  overflow: scroll;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.today-schedule-list-container {
  padding-bottom: 10px;
  width: 200px;
  height: 240px;
  border: solid 0.1rem;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  border: 1px solid #e0e0e0;
  overflow: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.today-schedule-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.today-schedule-item {
  padding-top: 7.5px;
  max-height: 60px;
  padding-right: 0.5rem;
  overflow: scroll;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.logout-button {
  color: #dc3545;
}

.dashboard-body {
  margin: 1.5rem;
  grid-template-columns: auto;
  border: 1px solid red;
}

.dashboard-courses-card-grid {
  gap: 1.5rem;
  height: 65vh;
  justify-content: start; 
  align-items: flex-start; 
  padding: 1rem;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.dashboard-courses-picture {
  width: 100%;
  height: 50%;
  border: 1px solid #e0e0e0;
}

.courses-picture {
  width: 50px;
  height: 50px;
  border-radius: 9px;
  object-fit: cover;
}

.dashboard-courses-card-label {
  color: white;
  font-weight: 900;
  font-size: 1rem;
}

.dashboard-courses-card-value {
  color: white;
  font-size: 1rem;
}

/* Loading, Error, and No Data Containers */
.loading-container,
.error-container,
.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: #6c757d;
  font-size: 0.9rem;
}

.error-container {
  color: #dc3545;
}

.no-data-container {
  font-size: 1rem;
}

.hover-attribution {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 0.75rem;
  padding: 6px 10px;
  border-radius: 5px;
  z-index: 9999;
  transition: opacity 0.2s ease-in-out;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}
