.student-schedule-container-viewport {
  height: 800px;
}

.student-schedule-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

body.light .student-schedule-timetable-container {
  max-width: 1200px;
  min-width: 750px;
  height: auto;
  background-color: white;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  padding: 1rem;
  border: 3px solid #e0e0e0;
  transition: background-color 0.3s ease-in-out;
  font-size: 20px;
  color: black;
}

body.dark .student-schedule-timetable-container {
  max-width: 1200px;
  min-width: 750px;
  height: auto;
  background-color: rgb(217, 240, 246);
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  padding: 1rem;
  border: 3px solid white;
  transition: background-color 0.3s ease-in-out;
  font-size: 20px;
  background-color: black;
  color: black;
}

.student-schedule-timetable{
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 250px;
}

.draggable-container {
  padding-left: 1rem;
  width: 200px;
  height: 500px;
  height: max-content;
}

.timetable-draggable-element {
  min-height: 50px;
  margin: 0rem 0rem 0.75rem 0rem;
  opacity: 1;
  padding: 8px 8px;
  background-color: #4a90e2;
  color: #fff;
  border-radius: 4;
  cursor: move;
  font-size: 12;
  border-radius: 9px;
  text-align: center;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.timetable-draggable-element.isDragging {
  width: 50;
  min-width: 120px;
  opacity: 0.5;
  padding: 4px 8px;
  background-color: #4a90e2;
  color: #fff;
  border-radius: 4;
  cursor: move;
  font-size: 12;
  text-align: center;
}

.timetable-draggable-element-yellow {
  min-height: 50px;
  margin: 0rem 0rem 0.75rem 0rem;
  opacity: 1;
  padding: 8px 8px;
  background-color: #FDE047;
  color: black;
  border-radius: 4;
  cursor: move;
  font-size: 12;
  border-radius: 9px;
  text-align: center;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.timetable-draggable-element-yellow.isDragging {
  width: 50;
  min-width: 120px;
  opacity: 0.5;
  padding: 4px 8px;
  background-color: #FDE047;
  color: black;
  border-radius: 4;
  cursor: move;
  font-size: 12;
  text-align: center;
}

.placed-course {
  width: 120px;
  min-width: 120px;
  height: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow-wrap: break-word;
  transition: width 0.5s ease-in, height 0.25s ease-in, transform 0.5s ease-in, box-shadow 0.5s ease-out;
}

.placed-course.isOver {
  width: 120px;
  height: 100px;
  min-width: 120px;
  border: 1px solid #ccc;
  background-color: #979798 ;
  position: relative;
  text-align: center;
  vertical-align: middle;
  transition: width 0.5s ease-in, height 0.25s ease-in, transform 0.5s ease-in, box-shadow 0.5s ease-out;
}

.hours {
  text-align: center;
  background-color: #FFD54F;
}

.headers {
  padding: 8;
  text-align: center;
  background-color: #FFD54F;
}

body.dark .hours-and-headers {
  padding: 8;
  text-align: center;
  background-color: black;
}

