.student-schedule-container-viewport {
  height: 800px;
}

.student-schedule-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 0.5rem;
}

.column-5fr {
  display: flex;
  flex-direction: column;
  max-height: 750px;
  overflow-y: scroll;
}

.column-1fr {
  display: grid;
  grid-template-rows: 6fr 1fr;
  height: 675px;
  gap: 1rem;
}


body.light .student-schedule-timetable-container {
  max-width: 1200px;
  min-width: 750px;
  height: auto;
  background-color: white;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  padding: 1rem;
  border: 3px solid #e0e0e0;
  transition: background-color 0.3s ease-in-out;
  font-size: 20px;
  color: black;
}

body.light .student-schedule-timetable-container.handleReject {
  max-width: 1200px;
  min-width: 750px;
  height: auto;
  background-color: white;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  padding: 1rem;
  border: 3px solid #e0e0e0;
  transition: background-color 0.3s ease-in-out;
  font-size: 20px;
  color: black;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both,
           border-light 1s linear infinite alternate;
}

.student-schedule-timetable.locked {
  pointer-events: none;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-10px); }
  20% { transform: translateX(10px); }  
  30% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }  
  50% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }  
  70% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }  
  90% { transform: translateX(-10px); }
  100% { transform: translateX(0); }   
}

@keyframes border-light {
  0% { border-color: #e0e0e0; box-shadow: 0 0 5px #e0e0e0; }
  100% { border-color: red; box-shadow: 0 0 15px red; }
}

body.dark .student-schedule-timetable-container {
  max-width: 1200px;
  min-width: 750px;
  height: auto;
  background-color: rgb(217, 240, 246);
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  padding: 1rem;
  border: 3px solid white;
  transition: background-color 0.3s ease-in-out;
  font-size: 20px;
  background-color: black;
  color: black;
}

.student-schedule-timetable{
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 250px;
}

.draggable-container-super {
  border: 3px solid #e0e0e0;
  border-radius: 9px;
  background-color: white;
}

.draggable-container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 220px;
  height: 675px;
  overflow-y: scroll;
}

.draggable-container.locked {
  pointer-events: none;
}

.timetable-draggable-element {
  min-height: 50px;
  margin: 0rem 0rem 0.75rem 0rem;
  opacity: 1;
  padding: 8px 8px;
  background-color: #4a90e2;
  color: #fff;
  border-radius: 4;
  cursor: move;
  font-size: 12;
  border-radius: 9px;
  text-align: center;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.timetable-draggable-element.isDragging {
  min-height: 50px;
  min-width: 120px;
  opacity: 0.5;
  padding: 8px 8px;
  background-color: #4a90e2;
  color: #fff;
  border-radius: 4;
  cursor: move;
  font-size: 12;
  text-align: center;
}

.timetable-draggable-element-yellow {
  min-height: 50px;
  margin: 0rem 0rem 0.75rem 0rem;
  opacity: 1;
  padding: 8px 8px;
  background-color: #FDE047;
  color: black;
  border-radius: 4;
  cursor: move;
  font-size: 12;
  border-radius: 9px;
  text-align: center;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.timetable-draggable-element-yellow.isDragging {
  width: 50;
  min-width: 120px;
  opacity: 0.5;
  padding: 4px 8px;
  background-color: #FDE047;
  color: black;
  border-radius: 4;
  cursor: move;
  font-size: 12;
  text-align: center;
}

.placed-course {
  width: 120px;
  min-width: 120px;
  height: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow-wrap: break-word;
  transition: width 0.5s ease-in, height 0.25s ease-in, transform 0.5s ease-in, box-shadow 0.5s ease-out;
}

.placed-course.isOver {
  width: 120px;
  height: 100px;
  min-width: 120px;
  border: 1px solid #ccc;
  background-color: #979798 ;
  position: relative;
  text-align: center;
  vertical-align: middle;
  transition: width 0.5s ease-in, height 0.25s ease-in, transform 0.5s ease-in, box-shadow 0.5s ease-out;
}

.hours {
  text-align: center;
  background-color: #FFD54F;
}

.headers {
  padding: 8;
  text-align: center;
  background-color: #FFD54F;
}

body.dark .hours-and-headers {
  padding: 8;
  text-align: center;
  background-color: black;
}

.student-header-of-schedules {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
  border: 1px solid black;
  border-radius: 9px;
  min-height: 80px;
  gap: 2.5rem;
  background-color: hsl(0, 0%, 75%);
  padding: 0 16px;
  text-align: center;
}

.has-selected-all-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 9px;
  min-height: 80px;
  color: white;
  background-color: #28A745;
  text-align: center;
  display: flex;
  align-items: center;  
  cursor: pointer;
}

.header-icon {
  height: 32px;
  width: auto;
}